# Unity generated folders
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/

# Rider & VS files
.vscode/
.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# OS files
.DS_Store
Thumbs.db

# Ignore this if needed
.gitignore.txt
